@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
#nofoundmsg path {
  stroke-dasharray: 100;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  @variants responsive {
    .fade-in {
      animation: fadeIn 2s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
